---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import TOC from "./TOC.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
const headings = Astro.props.headings || [];
---
<div id="sidebar" class:list={[className, "w-full"]}>
    {headings.length > 0 && (
        <div class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4 mb-4 z-20">
            <div class="card-base p-4 onload-animation 2xl:hidden toc-inner-wrapper max-h-[calc(100vh-6rem)] flex flex-col" style="animation-delay: 50ms">
                <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 relative ml-4 mb-2
                    before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)]
                    before:absolute before:left-[-16px] before:top-[5.5px]">
                    Table of Contents
                </div>
                <div class="toc overflow-y-auto hide-scrollbar">
                    <TOC headings={headings}></TOC>
                </div>
            </div>
        </div>
    )}
    
    {headings.length === 0 && (
        <>
            <div class="flex flex-col w-full gap-4 mb-4">
                <Profile></Profile>
            </div>
            <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
                <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
                <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
            </div>
        </>
    )}
</div>
